In [1]:
import pandas as pd
import datetime as dt

In [3]:
#Reading csv
team_df = pd.read_csv('../static/Resources/lakersteam.csv', encoding="ISO-8859-1")
team_df.head()

,Season,Lg,Team,W,L,W/L%,Finish,SRS,Unnamed: 8,Pace,Rel Pace,ORtg,Rel ORtg,DRtg,Rel DRtg,Unnamed: 15,Playoffs,Coaches,Top WS
0,2023-24,NBA,Los Angeles Lakers,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D. Ham (0-0),NaN
1,2022-23,NBA,Los Angeles Lakers*,43,39,0.524,5th of 5,0.43,NaN,101.3,2.2,114.5,-0.3,113.9,-0.9,NaN,Lost W. Conf. Finals,D. Ham (43-39),A. Davis (9.0)
2,2021-22,NBA,Los Angeles Lakers,33,49,0.402,4th of 5,-3.08,NaN,100.1,1.9,110.3,-1.7,113.3,1.3,NaN,NaN,F. Vogel (33-49),L. James (7.5)
3,2020-21,NBA,Los Angeles Lakers*,42,30,0.583,3rd of 5,2.77,NaN,98.7,-0.5,109.9,-2.4,107.1,-5.2,NaN,Lost W. Conf. 1st Rnd.,F. Vogel (42-30),M. Harrell (7.3)
4,2019-20,NBA,Los Angeles Lakers*,52,19,0.732,1st of 5,6.28,NaN,100.9,0.6,112.0,1.4,106.3,-4.3,NaN,Won Finals,F. Vogel (52-19),A. Davis (11.1)

In [4]:
team_df['Team'].unique()

array(['Los Angeles Lakers', 'Los Angeles Lakers*', 'Minneapolis Lakers*',
       'Minneapolis Lakers'], dtype=object)

In [5]:
team_df['Team'] = team_df['Team'].replace(to_replace={'Los Angeles Lakers*', 'Minneapolis Lakers*',
       'Minneapolis Lakers'}, value='Los Angeles Lakers')
team_df.head()

,Season,Lg,Team,W,L,W/L%,Finish,SRS,Unnamed: 8,Pace,Rel Pace,ORtg,Rel ORtg,DRtg,Rel DRtg,Unnamed: 15,Playoffs,Coaches,Top WS
0,2023-24,NBA,Los Angeles Lakers,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D. Ham (0-0),NaN
1,2022-23,NBA,Los Angeles Lakers,43,39,0.524,5th of 5,0.43,NaN,101.3,2.2,114.5,-0.3,113.9,-0.9,NaN,Lost W. Conf. Finals,D. Ham (43-39),A. Davis (9.0)
2,2021-22,NBA,Los Angeles Lakers,33,49,0.402,4th of 5,-3.08,NaN,100.1,1.9,110.3,-1.7,113.3,1.3,NaN,NaN,F. Vogel (33-49),L. James (7.5)
3,2020-21,NBA,Los Angeles Lakers,42,30,0.583,3rd of 5,2.77,NaN,98.7,-0.5,109.9,-2.4,107.1,-5.2,NaN,Lost W. Conf. 1st Rnd.,F. Vogel (42-30),M. Harrell (7.3)
4,2019-20,NBA,Los Angeles Lakers,52,19,0.732,1st of 5,6.28,NaN,100.9,0.6,112.0,1.4,106.3,-4.3,NaN,Won Finals,F. Vogel (52-19),A. Davis (11.1)

In [6]:
team_df.columns

Index(['Season', 'Lg', 'Team', 'W', 'L', 'W/L%', 'Finish', 'SRS', 'Unnamed: 8',
       'Pace', 'Rel Pace', 'ORtg', 'Rel ORtg', 'DRtg', 'Rel DRtg',
       'Unnamed: 15', 'Playoffs', 'Coaches', 'Top WS'],
      dtype='object')

In [7]:
team_df = team_df.drop(columns = ['Finish', 'SRS', 'Pace',
                                  'Rel Pace', 'ORtg', 'Rel ORtg', 'DRtg', 'Rel DRtg', 'Playoffs',
                                  'Coaches', 'Top WS', 'Unnamed: 8', 'Unnamed: 15'])
team_df.head()

    Season   Lg                Team   W   L   W/L%
0  2023-24  NBA  Los Angeles Lakers   0   0    NaN
1  2022-23  NBA  Los Angeles Lakers  43  39  0.524
2  2021-22  NBA  Los Angeles Lakers  33  49  0.402
3  2020-21  NBA  Los Angeles Lakers  42  30  0.583
4  2019-20  NBA  Los Angeles Lakers  52  19  0.732

In [8]:
team_df.loc[team_df['Season'] == '1994-95']

     Season   Lg                Team   W   L   W/L%
29  1994-95  NBA  Los Angeles Lakers  48  34  0.585

In [9]:
team_df = team_df.drop([0])
team_df = team_df.drop(range(30,76))
team_df.tail()

     Season   Lg                Team   W   L   W/L%
25  1998-99  NBA  Los Angeles Lakers  31  19  0.620
26  1997-98  NBA  Los Angeles Lakers  61  21  0.744
27  1996-97  NBA  Los Angeles Lakers  56  26  0.683
28  1995-96  NBA  Los Angeles Lakers  53  29  0.646
29  1994-95  NBA  Los Angeles Lakers  48  34  0.585

In [10]:
# team_df['Season'] = (team_df.Season.str[:4] + 
#                      pd.to_datetime(team_df.Season.str[-2:], format='%y').dt.strftime(' - %Y'))

In [11]:
team_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 1 to 29
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Season  29 non-null     object
 1   Lg      29 non-null     object
 2   Team    29 non-null     object
 3   W       29 non-null     int64
 4   L       29 non-null     int64
 5   W/L%    29 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.5+ KB

In [12]:
output=team_df.to_csv('../static/Resources/lakersteam.csv', index=False)
output